/* .navbar {
  background:gray;		
}*/

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;	
}

body {
  font-style: serif;
}
main .row {
  /*margin: 20px auto;*/
  text-align: center;
}

header .intro {
  background-image: url('img/bg.jpg'); /* To be changed */
  height: 768px; /* To be changed */
  background-size: cover;
}

header .intro .pic {
  text-align: center;
  padding-top: 2.5%;
}

header .intro .pic img {
  width:200px;
  height:200px;
  border-radius: 50%;
}

header .intro .basic{
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
}
header .nav, main .social {
  text-align:center;	
}
header .intro .nav li {
  display: inline-block;
  width: 20%;
  text-align:center;
  padding-top: 15%;
} 

header .intro .social li {
  display: inline-block;
  width: 19%;
  text-align:center;
  padding-top: 5%;
}

main .portfolio {
  background:gray;	
}

main .skill {
  background:blue;	
}

main .experience {
  background:gray;	
  height: 600px; /* To be changed */
}

main .others {
  background:green;	
  height: 600px; /* To be changed */
}

img {
  width:80%;	
}


a {
  text-decoration: none;

}

button {
  width: :60px;
  height: 30px;
  cursor: pointer;
}

.social li img {
  width: 50%;
}

.box, .technologies, .description, .icon, .name {
  border-style: none;	
}

.technologies, .description,.name {
  padding-top: 20px;
  height: 120px;
}

.description2 {
  height:260px;
}

.box {
  height: 220px;	
  padding-top: 10%;	
}

.box img {
  border-radius: 50%;
}

.icon {
  padding-top: 5%;
  height: 200px;
}

.frontend {
  padding-top:5%;
}

.backend {
  padding-top:5%;
}

.framework {
  padding-top:5%;
}

.content_exp {
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .box {
    height: 300px;	/* To be changed */
  }	

  .icon {
    width: 40%;
    margin: auto;
  }
}