* {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;

}

a {
  cursor: pointer;
  color: white;
}

hr {
      border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

h1 {
  text-align: center;
}

.projects-box {
  height: 300px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.skillsets {
  text-align: left;
  margin: 50px auto;
}

.main-stack, .secondary-stack {
  font-size: 20px;
}

html, body {
  margin: 0;	
}

body {
  /*font-style: serif;*/
}
main .row {
  /*margin: 20px auto;*/
  text-align: center;
}

.nav {
  text-align: center;
      padding-bottom: 15px;
    padding-top: 15px;
}
header {
  height :100%;
}
header .intro {
  background-image: url('img/bg.jpg'); /* To be changed */
  background-size: cover;
}

header .intro .pic {
  padding-top: 2.5%;
}

header .intro .pic img {
  width:200px;
  height:200px;
  border-radius: 50%;
}

header .intro .basic {
  font-size: 2em;
  color: #ffffff;
  background-color: rgba(29,29,29,0.75);
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 20px; 
  line-height: 37.5px;
}

.basic {
  height: 500px;
}

.basic-name, .basic-title {
  text-indent: 30px;
}

.basic-quote {
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin: 100px;
}

header .social {
  background-color: rgba(30,30,30,0.9);
  padding-bottom: 20px;
  padding-top: 20px;
  bottom: 0;
  text-align: center;
}
main .social {
  text-align:center;

}
header .intro .nav li {
  display: inline-block;
  width: 20%;
} 

header .intro .social li {
  display: inline-block;
  text-align:center;
}


header .intro .nav {
    background-color: rgba(10,10,10,0.85);
    font-size:20px;
}

.nav ul {
  margin: 0 auto;
  color: white;
}

a:visited {
  color: white;
}

main .portfolio {
  /*background:#BFE9FF;	*/
}

main .skill {
  background:blue;	
}

main .experience {
  /*background:#BFE9FF;	*/
  text-align: left;
}

main .others {
  /*background: #FFFDD6;	*/

}

img {
  width:80%;	
}


a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: 5px;

}

.github-button, .demo-button {
  width:100px;
  height: 50px;
  border-style: none;
  font-size: 15px;
  border: 2px solid black;
  color: white;
}

.timeline {
  font-size: 1.6em;
}

.timeline li {
  list-style-type: none;
  margin: 5% auto;
  font-size: 20px;
}
.social li img {
  width: 50%;
}

.box, .technologies, .description, .icon, .name {
  border-style: none;	
}

.portfolio-image {

}

.porfolio-description {

}

.technologies, .description,.name {
  padding-top: 20px;
  height: 120px;
}
.technologies {
  padding-left: 10px;
  padding-right: 10px;
}
.description2 {
  /*height:260px;*/
}

.box {
  height: 220px;	
  padding-top: 10%;	
}

.box img {
  border-radius: 50%;
}

.icon {
  padding-top: 5%;
  height: 200px;
}

.frontend {
  padding-top:5%;
}

.backend {
  padding-top:5%;
}

.framework {
  padding-top:5%;
}

.content_exp {
  text-align: left;
}

.other-content {
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .box {
    height: 300px;	/* To be changed */
  }	

  .icon {
    width: 40%;
    margin: auto;
  }
}