* {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
}

html, body {
  margin: 0;  
  min-width: 600px;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}


img {
  width:80%;  
}

button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #5f5d6d;

}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

header {
  height :100%;
}

header .intro {
  background-image: url('img/bg.jpg');
  background-size: cover;
}

header .intro .pic {
  padding-top: 2.5%;
}

header .intro .pic img {
  width:200px;
  height:200px;
  border-radius: 50%;
}

header .intro .basic {
  font-size: 2em;
  color: #ffffff;
  background-color: rgba(29,29,29,0.75);
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 20px; 
  line-height: 37.5px;
}

header .social, footer .social {
  background-color: rgba(30,30,30,0.9);
  padding-bottom: 20px;
  padding-top: 20px;
  bottom: 0;
  text-align: center;
}

header .intro .nav li, footer .nav li {
  display: inline-block;
  width: 20%;
} 

header .intro .social li, footer .social li {
  display: inline-block;
  text-align:center;
}


header .intro .nav, footer .nav {
  background-color: rgba(10,10,10,0.85);
  font-size: 20px;
}

.nav {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav ul {
  margin: 0 auto;
  color: white;
}

main .row {
  text-align: center;
}

main h1 {
  text-align: center;
}

main .social {
  text-align:center;

}

main .projects {

}

main .skills {
  /*background: rgba(213, 223, 230, 0.65);  */
  padding-left: 50px;
}

main .experience {
  text-align: left;
  /*background: rgba(213, 223, 230, 0.65);*/
  /*padding-left: 50px;*/
}

main .education {
  text-align: left;
}

.coursework li {
  list-style-type: square !important;
  margin: 0 !important;
}

main .aboutme {
  /*background-color: blue;*/
  text-align: left;
  padding-bottom: 50px;
  padding-left: 50px;
}

.projects-box {
  height: 400px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.main-stack, .secondary-stack {
  font-size: 20px;
}

.skillsets {
  text-align: left;
  margin: 50px auto;
}

.basic {
  height: 500px;
}

.basic-name, .basic-title {
  text-indent: 30px;
}

.basic-quote {
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin: 100px;
}

footer .social {
  background-color: rgba(10,10,10,0.85);
}

.github-button, .demo-button {
  width:100px;
  height: 50px;
  border-style: none;
  font-size: 15px;
  color: white;
}

.timeline {
  font-size: 1.6em;
}

.timeline li {
  list-style-type: none;
  margin: 5% auto;
  font-size: 20px;
  line-height: 28px;
}
.social li img {
  width: 50%;
}

.box, .technologies, .description, .icon, .name {
  border-style: none;	
}

.technologies, .description,.name {
  padding-top: 20px;
  height: 120px;
}

.technologies {
  padding-left: 10px;
  padding-right: 10px;
}

.description2 {
  text-align: left;
  font-size: 15px;
  line-height: 20px; 
}

.box {
  height: 220px;	
  padding-top: 10%;	
}

.box img {
  border-radius: 50%;
}

.icon {
  padding-top: 5%;
  height: 200px;
}

.content_exp {
  text-align: left;
}

.other-content {
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .box {
    height: 300px;	/* To be changed */
  }	

  .projects-box {
    height: 260px;
  }

  .icon {
    width: 40%;
    margin: auto;
  }
}